.About {
  display: flex;
  background-image: url(https://e0.pxfuel.com/wallpapers/225/248/desktop-wallpaper-black-blue-gradient-linear-midnight-blue-000000-191970-30a%C2%B0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 636px;
  top: 0px;
  align-items: flex-start;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.About h1 {
  font-size: 35px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.749));
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.874);
}

.main desc {
  width: 100%;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.874);
  text-align: justify;
  font-weight: 500;
}
.maintwo img {
  width: 80%;
  margin-top: 30px;
  filter: drop-shadow(0px 1px 1px #1efcff);
  margin: 100px 0px 0px 50px;
}
.maintwo {
  width: 60%;
}
.main {
  width: 70%;
  margin: 100px 50px 50px 50px;
}

.show {
	-webkit-animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.visible,
.invisible {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}