.hello {
  width: 100%;
  height: 100%;
  background-color: #0c0c32d8;
  z-index: 999;
  position: fixed;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}
