.hello {
  width: 100%;
  height: 100%;
  background-color: #0c0c32d8;
  z-index: 999;
  position: fixed;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}
.ant-spin {
  color: white;
}
.imageabout {
  width: 45%;
  right: 0px;
  top: 60px;
}
.header_about {
  width: 100%;
  background-color: rgb(245 245 245);
}
.header_about img {
  width: 100%;
}

.title_principal {
  position: absolute;
  top: 150px;
  width: 90%;
  left: 50px;
  margin: 20px;
  z-index: 100;
  text-align: center;
  display: flex;
    flex-direction: column;
    align-items: center;
}
.title_principal h1 {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
}
.buttoncontact {
  background-color: #8e4aded1;
  display: flex;
  width: auto;
  justify-content: center;
  padding: 15px;
  margin: 30px;
  outline: none;
  border: 1px solid #39107a;
  border-radius: 5px;
  color: white;
  text-shadow: 0px 1px 2px #5907b8;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 500;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.591));
  align-items: center;
}
.buttoncontact .icon {
  margin-left: 15px;
    margin-top: 5px;
  font-weight: 700;
}
.frasemission {
  width: 100%;
    display: flex;
    height: auto;
    margin: 150px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
.header2{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.title_principal2 {
  margin: 20px;
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    position: relative;
    top: 0px;
}
.about3{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 200px;
}
.frasemission h1 {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 700;
  color: #111147;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 100px;
  width: auto;
}
.imageabout img {
  width: 100%;
}
.about {
  position: relative;
  display: flex;
  background-color: #f5f5f5;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 200px 0px 0px 0px;
  width: 100%;
  padding: 10px;
  height: 600px;
  z-index: 1;
  /* border-top:1px solid rgba(0, 0, 0, 0.918);
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.719)); */
}
.down2 {
    color: rgba(0, 0, 0, 0.763)!important;
    top: 500px!important;
    left: 50%!important;
    width: 40%!important;
}

.about h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgba(15, 15, 15, 0.852);
  font-size: 24px;
  margin: 40px 0px 20px 0px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.iconsabout {
   height: 0.80em;
   margin-right: 5px;
    color: #1e0d77;
}

.about .description {
  width: 47%;
  text-align: justify;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 500;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  color: #2e2e2e;
}
.two2 {
  margin-top: 130px !important;
  margin-left: 0px !important;
}

.card_mission {
  background: #111147;
  padding: 10px;
  width: 350px;
  margin-left:20px;
  margin-top:20px;
  height: 250px;
  color: white;
  border-radius: 10px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.354));
}

.titulo {
  display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgba(244, 244, 244, 0.852);
  font-size: 24px;
  margin: 30px 0px;
}
.titulo img {
  width: 26px;
  margin-right: 10px;
}
.about_desc {
  text-align: justify;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(244, 244, 244, 0.852);
}
.mission {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  width: 100%;
  padding: 10px;
  padding-bottom: 30px;
  height: auto;
  justify-items: center;
  background: linear-gradient(318deg, #39107a 7.48%, #311683 40.69%, #131353 76.77%);
  align-items: stretch;
  box-shadow: inset -1px -3px 2px #00000054;
}
.gridmission {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  row-gap: 60px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.mission h1 {
  display: flex;
  align-items: center;
  margin: 30px 0px 50px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: rgba(244, 244, 244, 0.852);
  justify-content: center;
}
.container_video {
  width: 100%;
  height: 200px;
}
.bg_video{
	right: 0; 
	bottom: 0;
	width: 100%; 
	height: auto; 
	z-index: -1000;
	background-size: cover; 
}
.overlay {
  background: linear-gradient(180deg, #311683e5 0%, #31168396 26.56%, rgba(89, 3, 143, 0.79) 100%);
  width: 100%;
  position: absolute;
	bottom: 0;
  top:0px;
}