header {
  display: flex;
  /* background-image: url(../images/Desktop\-\1\\(2\)); */
  background-size: cover;
  background: linear-gradient(180deg, #161565 0%, #380e62 100%);
  background-repeat: no-repeat;
  height: 38rem;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: hidden;
  overflow: hidden !important;
}

.imagecomponent {
  display: flex;
  justify-content: flex-end;
  margin-right: 0%;
  margin-top: 10%;
  width: 850px;
  height: 575px;
  opacity: 0.9;
  background: url(../images/imageheader.png) no-repeat;
  background-size: cover;
  mix-blend-mode: lighten;
}
nav {
  display: flex;
  width: 100%;
  height: 68px;
  padding: 5px;
  position: fixed;
  margin-top: 0px;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background-color: transparent;
  box-shadow: 0px 1px 1px 0px rgba(23, 23, 23, 0.207);
}

.navcolor {
  background: #421377ed;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.053));
  backdrop-filter: blur(5px);
}

/* .navcolor .navegation a {
  color: rgb(23, 23, 23);
} */
.logo {
  color: #fff;
  font-family: Wix Madefor Display;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inherit;
  margin-left: 60px;
  cursor: pointer;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.749));
}

.logo img {
  width: 35px;
  height: 42px;
  mix-blend-mode: hard-light;
  margin-top: -5px;
}

.navegation {
  display: inherit;
  width: 70%;
  justify-content: center;
}

.navegation a {
  margin: 2px;
  padding: 10px;
  color: #e8e8e8;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  outline: none;
  transition: all 0.45s;
  cursor: pointer;
}

.navegation a:active {
  color: white;
  background-color: #0e0e416b;
  border: 1px solid var(--cor-principal);
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--cor-principal);
}
.navegation a:hover {
  color: white;
}

.boxlogin {
  display: flex;
  justify-content: flex-end;
}
.boxlogin button {
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  outline: none;
  text-align: center;
  margin-right: 10px;
  margin-top: 5px;
}
.cadastre {
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
}
.login {
  width: 100px;
  height: auto;
  margin-right: 50px !important;
  border-radius: 5px;
  border: 1px solid #742bdb;
  background: #742bdb;
  padding: 10px;
  text-align: center;
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.sidebar {
  width: 60%;
  display: flex;
  margin-top: 0%;
  margin-left: 5%;
  flex-direction: column;
}
.sidebar h1 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 550px;
}
.Selected {
  background-color: #0e0e416b;
  border: 1px solid var(--cor-principal);
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--cor-principal);
  color: white;
}

.desc {
  display: flex;
  width: 600px;
  height: auto;
  font-family: DM Sans;
  padding: 10px;
  color: white;
  margin-left: -10px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  font-style: normal;
}

.desc h1 {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 40px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.749));
  margin-left: 10px;
}

.promotion {
  color: #fff;
  text-align: left;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2%;
}

.promotion span {
  color: #97faff;
}

.sale h3 {
  font-size: 14px;
  margin-top: 20px;
}

.limited {
  display: flex;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sale {
  margin-top: 10px;
  display: flex;
  color: #fff;
  font-size: 40px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
}

.promotion button {
  position: absolute;
  width: auto;
  height: auto;
  margin-top: 20px;
  display: flex;
  padding: 15px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #59209d;
  background: rgba(255, 255, 255, 0.06);
  outline: none;
  cursor: pointer;
}
.promotion button a {
  display: flex;
  text-align: center;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.promotion button i {
  display: flex;
  margin-left: 20px;
  font-size: 20px;
}

.bar {
  display: flex;
  width: 100%;
  margin-top: -155px;
}
.bar svg {
  width: 100.25%;
  fill: #FCFCFC;
}
.desc button {
  background: linear-gradient(
    142deg,
    rgba(226, 27, 252, 0.833) 39%,
    rgba(161, 74, 245, 1) 100%
  );
  padding: 15px;
  margin: 5px;
  outline: none;
  border: 1px solid #111130;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.334));
}

.buttoncard {
  width: 100%;
  display: flex;
}
.desc i {
  margin: 10px;
  color: white;
  font-weight: 700;
}

.arrowdown {
  width: 100%;
  display: inherit;
  position: absolute;
  bottom: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 25px;
  flex-direction: column;
}
.mouse {
  animation: shake 3.9s;
  animation-iteration-count: infinite;
}

.down {
  font-size: 30px;
  animation: down 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-10px, 0);
  }
  20% {
    transform: translate(10px, 0);
  }
  30% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(-10px, 0);
  }
  60% {
    transform: translate(10px, 0);
  }
  70% {
    transform: translate(-10px, 0);
  }
  80% {
    transform: translate(10px, 0);
  }
  90% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes down {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.9;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}

.buttontoggle {
  margin-top: 30px;
  z-index: 9;
  font-family: "Braah One", sans-serif;
  font-size: 26px;
  color: white;
  display: none;
  margin: 0px 30px 0px 0px;
}

.toggle {
  background-color: wheat;
  margin-top: 20px;
  width: 100%;
  max-height: 5%;
  display: flex;
  z-index: 9;
  position: fixed;
}

.toggle ul {
  background-color: #111130bd;
  margin-top: 15px;
  margin-left: -5px;
  gap: 28px;
  font-size: 1.4rem;
  font-weight: 600;
  align-items: center;
  list-style: none;
  height: 600px;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.toggle li {
  background-color: #f4eeff;
  margin: 2px 0px 0px 0px;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.dark .toggle li {
  background-color: var(--cor-bg-dark);
  color: white;
}

.toggle li a {
  text-decoration: none;
  color: white;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 18px;
}

.dark .toggle li a {
  color: var(--cor-text-h1-dark);
}

.icontoggle {
  background: var(--cor-principal);
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
  z-index: 9;
}
@media screen and (max-width: 414px) {
  header {
    flex-direction: column;
    height: 700px;
    overflow-y: hidden;
  }
  .navegation {
    display: none;
  }

  .buttontoggle {
    display: flex;
  }

  .toggle ul {
    margin-left: -5px;
  }

  .logo {
    margin-left: 15px;
  }
  .desc {
    width: 100%;
    height: auto;
    font-size: 15px;
    z-index: 1;
    margin-top: 100px;
  }

  .desc h1 {
    font-size: 35px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.749));
  }

  .description {
    width: 300px;
    margin: 50px 50px 0px 0px;
    text-align: justify;
  }

  .desc button {
    margin: 35px 0px 0px 8px;
  }
  .image {
    display: none;
    width: 300px;
    height: 300px;
    margin: 440px 0px 0px 0px;
    position: absolute;
    opacity: 0.5;
  }
}
