header {
  display: flex;
  background-image: url(../images/Desktop\ -\ 1\ \(2\).png);
  background-size: cover;
  background-color: #fbfcfc ;
  background-repeat: no-repeat;
  height: 40rem;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: hidden;
  }
  
.dark header {
    background-color: black;
  }
  /* https://cutewallpaper.org/27/background-wallpaper-blue-green-purple/214976262.jpg 
  https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-117928.jpg
  */

.image {
  background-image: url(../images/imagesidebar.png);
  width: 500px;
  height: 500px;
  background-size: cover;
  margin: 30px 100px 0px 0px;
}

nav {
  display: flex;
  width: 100%;
  height: 55px;
  padding: 5px;
  position: fixed;
  margin-top: 0px;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background-color: transparent;
}

.navcolor {
  background: linear-gradient(220.94deg, #39107A 7.48%, #311683 40.69%, #131353 76.77%);
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.053));
}

.logo {
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 26px;
  color: white;
  margin-top: 8px;
  display: inherit;
  margin-left: 60px;
  cursor: pointer;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.749));
}

.logo .ilogo {
  background-image: url(../images/heloo.png);
  background-size: cover;
  width: 45px;
  height: 40px;
  margin-right: 10px;
  margin-top: 0px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.05));
}

.navegation {
  display: inherit;
  width: 100%;
  justify-content: flex-end;
  margin-right: 140px;
}

.navegation a {
  margin: 5px;
  padding: 10px;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.808);
  text-decoration: none;
  outline: none;
  transition: all 0.45s;
  cursor: pointer;
}

.navegation a:active {
  color: white;
  background-color: #0e0e416b;
  border:1px solid var(--cor-principal);
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--cor-principal);
}
.navegation a:hover { 
  /* border-radius: 5px 5px 0px 0px;
  background-color: #0e0e418d; */
  color: white;
  /* box-shadow: inset 0px -3px 0px var(--cor-principal);
  transition: transform 0.45s ease-in-out;  */
} 

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.Selected {
  background-color: #0e0e416b;
  border:1px solid var(--cor-principal);
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--cor-principal);
  color: white;
}
.sidec {
  color: white;
}

.desc {
  display: flex;
  width: 550px;
  height: auto;
  padding: 10px;
  color: rgba(255, 255, 255, 0.874);
  margin-left: 50px;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  font-size: 16px;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.desc h1 {
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 40px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.749));
  margin-left: 10px;
}

.description {
  margin: 40px 0px 40px 0px;
  text-align: justify;
}

.desc button {
  background: linear-gradient(142deg, rgba(226, 27, 252, 0.833) 39%, rgba(161,74,245,1) 100%);
  padding: 15px;
  margin: 5px;
  outline: none;
  border: 1px solid #111130;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.334));
}

.buttoncard {
  width: 100%;
  display: flex;
}
.desc i {
  margin: 10px;
  color: white;
  font-weight: 700;
}

.arrowdown {
  width: 100%;
  display: inherit;
  position: absolute;
  bottom: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 25px;
  flex-direction: column;
}
.mouse {
  animation: shake 3.9s;
  animation-iteration-count: infinite;
}

.down {
  font-size: 30px;
  animation: down 1.0s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-10px, 0); }
  20% { transform: translate(10px, 0); }
  30% { transform: translate(-10px, 0); }
  40% { transform: translate(10px, 0); }
  50% { transform: translate(-10px, 0); }
  60% { transform: translate(10px, 0); }
  70% { transform: translate(-10px, 0); }
  80% { transform: translate(10px, 0); }
  90% { transform: translate(-10px, 0); }
  100% { transform: translate(0, 0); }
}

@keyframes down {
  0% { opacity: 0.20; }
  10% { opacity: 0.30; }
  20% { opacity: 0.40;}
  30% { opacity: 0.50;}
  40% { opacity: 0.60;}
  50% { opacity: 0.70; }
  60% { opacity: 0.80;}
  70% { opacity: 0.90;}
  80% { opacity: 1;}
  90% { opacity: 0.50; }
  100% { opacity: 0.30; }
}

.buttontoggle {
  margin-top: 30px;
  z-index: 9;
  font-family: 'Braah One', sans-serif;
  font-size: 26px;
  color: white;
  display: none;
  margin: 0px 30px 0px 0px;
}


.toggle {
  background-color: wheat;
  margin-top: 20px;
  width: 100%;
  max-height: 5%;
  display: flex;
  z-index: 9;
  position: fixed;
}

.toggle ul {
  background-color: #111130bd;
  margin-top: 15px;
  margin-left: -5px;
  gap: 28px;
  font-size: 1.4rem;
  font-weight: 600;
  align-items: center;
  list-style: none;
  height: 600px;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(4px);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.toggle li {
  background-color: #f4eeff;
  margin: 2px 0px 0px 0px;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.dark .toggle li {
  background-color: var(--cor-bg-dark);
  color: white;
}

.toggle li a {
  text-decoration: none;
  color: white;
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 18px;
}

.dark .toggle li a {
  color: var(--cor-text-h1-dark);
}

.icontoggle {
  background: var(--cor-principal);
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
  z-index: 9;
}
@media screen and (max-width: 414px) {
  header {
    flex-direction: column;
    height: 700px;
    overflow-y: hidden;
  }
  .navegation {
    display: none;
  }

  .buttontoggle {
    display: flex;
  }

  .toggle ul {
    margin-left: -5px;
  }

  .logo {
    margin-left: 15px;
  }
  .desc {
    width: 100%;
    height: auto;
    font-size: 15px;
    z-index: 1;
    margin-top: 100px;
  }
  
  .desc h1 {
    font-size: 35px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.749));
  }
  
  .description {
    width: 300px;
    margin: 50px 50px 0px 0px;
    text-align: justify;
  }
  
  .desc button {
    margin: 35px 0px 0px 8px;
  }
  .image {
    display: none;
    width: 300px;
    height: 300px;
    margin: 440px 0px 0px 0px;
    position: absolute;
    opacity: 0.5;
  }
}