  /* Estilo para o modal overlay (fundo com blur) */
  .modal-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #2d1366db;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999; /* Garante que o modal esteja acima de outros elementos */
    backdrop-filter: blur(5px);
    position: fixed;
  }
  
  /* Estilo para o modal em si */
  .modal {
    width: 30%;
    height: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    color: #222;
  }
  
  .modal h1 {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
  }
  .modal h2 {
    font-size: 14px;
    font-weight: 400;
  }
  /* Estilo para o botão de fechar o modal */
  .modal-close {
    position: absolute;
    top: 17px;
    inset-inline-end: 17px;
    z-index: 1010;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.2s,background-color 0.2s;
  }
  .close {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    align-content: center;
    outline: none;
    border: 1px solid transparent;
  }
  
  .close span {
    background: #f5f5f5;
    padding: 10px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position: absolute;
    margin: 5px -10px 0px 0px;
    font-size: 15px;
    font-family: Inter;
    text-align: center;
    line-height: 19px; /* Adicione esta linha para alinhar verticalmente */
    color: rgba(20, 1, 85, 0.858);
    transition: color 0.2s, background-color 0.4s;
  }
  .close span:hover {background-color: #a690eec4; color: white;font-weight: 600;}
  .imagelogin {
    background-color: #a690eec4;
    width: 50%;
    height: 100%;
    display: flex;
	align-items: flex-end;
justify-content: center;
}
.imagelogin img {
    width: 70%;
    height: auto;
}


  /* Estilo para o formulário dentro do modal */
  .form-group {
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #cdcdcd;
    display: flex;
    align-items: center;
    transition: border-color 0.2s; /* Adicionamos uma transição para suavizar a mudança de cor da borda */
    margin-bottom: 10px;
  margin-right: 2px;
  background-color: white;
  }
  .form-group.focused { border: 1.15px solid #B185E7; box-shadow: 0 0 5px #c596ff;}
  .form-group label {
    display: block;
    font-weight: bold;
    margin: 0px 5px;
    color: #464646;
  }
  .form-group.focused label { color: #260253;}
  .form-group input {
    background-color: transparent;
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    font-family: Inter;
      font-size: 14px;
      font-style: normal;
      color: #222;
      font-weight: 500;
  }
  .error-message {
    font-size: 10px;
    text-align: center;
    color: #6f0101;
    position: relative;
    top: -10px;
    left: 5px;
    width: 100%;
    font-family: Inter;
  }
  .recoverandlogin button {
    background-color: #7a00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
  }
  .show-password-button {
    background-color: transparent;
    font-size: 20px;
    color: #888;
    padding: 10px;
    outline: none;
    border: 1px solid transparent;
}
.recoverandlogin {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.recoverandlogin span a{
    font-family: Inter;
      font-size: 14px;
      font-style: normal;
      color: #888;
      text-decoration: none;
}
.cadastrese1 {
    width: 100%;
    display: flex;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    color: #363636;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.cadastrese1  p{
      color: rgb(149, 12, 229);
      text-decoration: none;
      margin-left: 10px ;
      cursor: pointer;
}