.Projects {
  width: 100%;
  /* background: linear-gradient(90.86deg, #17186A 20.7%, #171662 34.28%, #11124B 68.96%, #0F0F41 84.11%); */
  display: flex;
  background-color: rgb(22, 22, 96);
  /* background-image: url(../images/Desktop\ -\ 4.png); */
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  top: 0px;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-x: hidden;
}

.Projects h1 {
  font-size: 35px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.749));
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.874);
  margin-top: 50px;
}

.Projects h2 {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}
.ant-image-preview-operations {
  background: rgba(10, 10, 46, 0.95);
}
.ant-image-preview-root .ant-image-preview-wrap {
  background-color: #0e0e2ca6;
}
.bar {
  background-image: url(../images/Vector.png); 
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.gridprojects {
  grid-gap: 0px;
  align-content: center;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin: 15px 5px 5px 55px;
  justify-content: center;
  align-items: start;
}

.oioi {
  border-radius: 15px 15px 0 0;
  height: auto;
  width: auto;
  border-radius: 10px;
}
.oioi img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border:5px solid rgb(48, 48, 194);
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.422));
}
@media screen and (max-width: 717px) {
  .gridprojects {
    grid-gap: 0px;
    align-content: center;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    margin: 15px 5px 5px 5px;
    justify-content: center;
    align-items: start;
  }
  .Projects h1 {
    margin-top: 0px;
  }
  .ant-image-preview-operations {
    height: 80px;
  }
  .ant-image-preview-operations-progress {
    margin-top: -50px;
  }
  .ant-image-preview-img-wrapper {
    margin-top: 100px;
  }
}