.Services {
  display: flex;
  /* background-image: url(../images/bgservices2.png); */
  background-size: contain;
  background-color: #FCFCFC ;
  background-repeat: no-repeat;
  height: auto;
  top: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
}

.About h1 {
  font-size: 35px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.749));
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.874);
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.swiper, swiper-container {
  height: 281px;
}

.is-visible {
  opacity: 1;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 15px;
  text-transform: none!important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  font-weight: 700;
}
.swiper-button-prev {
  color: #0e0f47;
  margin-left: -15px;
  z-index: 9;
  position: absolute;
  /* background: white; */
  filter: drop-shadow(0px 1px 1px #0000001d);
}
.swiper-button-next {
  color: #0e0f47;
  right: 28px;
  z-index: 9;
  position: absolute;
  filter: drop-shadow(0px 1px 1px #0000001d);
}
.cardsales desc {
  width: 100%;
  font-size: 11px;
  font-family: DM Sans;
  text-align: justify;
  font-weight: 500;
}
.maintwo img {
  width: 80%;
  margin-top: 30px;
  filter: drop-shadow(0px 1px 1px #1efcff);
  margin: 100px 0px 0px 50px;
}

.main {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maintree {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.feat {
  width: 60%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
}
.feat h1 {
  font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: rgba(15, 15, 15, 0.852);
    padding: 10px;
    text-align: center;
}
.feat desc {
  width: 100%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  /* color: rgba(255, 255, 255, 0.874); */
  text-align: justify!important;
  font-weight: 500;
  padding: 20px;
  line-height: 20px;
}
.width {
  width: 40%;
  margin: 20px 0px;
}
.maintwo {
    padding: 60px;
    /* background: linear-gradient(90.86deg, #17186A 20.7%, #171662 34.28%, #11124B 68.96%, #0F0F41 84.11%); */
    background-color: #340D5F;
    filter: drop-shadow(5px 1px 1px rgba(0, 0, 0, 0.749));
    border-top: 1px solid rgba(0, 0, 0, 0.749);
    border-bottom: 1px solid rgba(0, 0, 0, 0.749);
    box-shadow: inset 1px 1px 4px rgb(0 0 0 / 33%);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
}

.maintwo h1 {
  font-weight: 700;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 40px 0px;
  color: rgba(255, 255, 255, 0.941);
  display: flex;
  width: 100%;
  flex-direction: row;
}
.find {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.find h1 {
  color: rgba(255, 255, 255, 0.941);
  margin: 60px 0px 20px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.find button {
  background: #421377;
    color: white;
    outline: none;
    border: 1px solid #421377;
    padding: 15px;
    border-radius: 10px;
    color: #FFF;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.281));
    font-weight: 700;
    letter-spacing: 0.10em;
    width: 330px;
    text-align: center;
}
.sales {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.boxinf {
  width: 90%;
  display: flex;
  margin-top: 50px;
  margin-right: 30%;
  margin-left: 30%;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(245 245 245);
  filter: drop-shadow(0px 1px 1px rgba(41, 41, 41, 0.181));
}
.boxinf img {
  width: 75%;
  margin: 20px;
  margin-left: 20%;
  margin-top: 50px;
  filter: drop-shadow(0px 1px 1px rgba(41, 41, 41, 0.181));
}

.infdesc {
  color: #161616;
text-align: justify;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 40px;
width: 500px;
}
.infdesc h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.infdesc p {
  margin-bottom: 5px;
}
.infdesc li {
  font-size: 12px;
}
.infdesc i {
  margin-right: 5px;
  color:#C573F3;
}

.boxmodels {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.cardmodels {
  align-items: center;
  border-radius: 15px;
  background-color: rgb(245 245 245);
  filter: drop-shadow(0px 1px 1px rgba(41, 41, 41, 0.181));
  margin: 20px;
  height: 200px;
}
.cardmodelsplans {
  display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    margin-bottom: 60px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
.cardmodelsplans button {
  border-radius: 15px;
  border: 1px solid #B185E7;
  background: #FFF;
  outline: none;
  width: 255px;
  padding: 10px;
  color: #202020;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  line-height: normal;
  align-items: center;
  justify-content: center;
}
.cardmodelsplans i {
  color: #B185E7;
  margin-left: 20px;
  font-size: 20px;
  margin-top: 3px;
 }
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.cardsales {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.two {
  width: 300px;
  height: auto;
  color: rgba(255, 255, 255, 0.822);
  border-radius: 15px!important;
  border: 1px solid #270F44;
  background: #2A1247;
  /* background: linear-gradient(252.82deg, #09071fa9 -8.09%, #0c0c32d5 28.43%, #0e0f47 77.32%); */
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.261));
  padding: 15px;
  text-align: left;
  margin-right: 35px;
}
.medium {
  background: #2A1247;
  height: 415px;
  /* box-shadow: 1px 1px 15px #9903b0c1; */
  /* outline:1px solid #08061bc5;
  outline-offset: -15px;
  border-radius: 10px; */
}
.premium {
  background: linear-gradient(152.02deg, #0b082dc5 -8.09%, #0c0c32d5 28.43%, #0e0f47 77.32%);
}
.two h2 {
  margin: 10px auto;
  font-size: 25px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.923);
  align-items: center;
  justify-content: center;
  font-weight: 800;
  border-bottom: 1px solid rgba(214, 184, 250, 0.91);
  width: 200px;
  display: flex;
  padding-bottom: 10px;
}
.crown {
  background-image: url(../images/icons\ png/coroa.png);
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 155px;
  margin-top: -20px;
  transform: rotate(50deg);
}
:where(.css-dev-only-do-not-override-w8mnev).ant-input:focus, :where(.css-dev-only-do-not-override-w8mnev).ant-input-focused {
  border-color: #acacfccc;
  box-shadow: 0 0 0 2px #bdbdff96;
  border-inline-end-width: 1px;
  outline: 0;
}
.ant-select-focused:where(.css-dev-only-do-not-override-w8mnev).ant-select:not(.ant-select-disabled):not(.ant-select-custumize-input):not(.ant-pagination-size-changer)
.ant-select-selector {
  border-color: #acacfccc;
  box-shadow: 0 0 0 2px #bdbdff96;
  border-inline-end-width: 1px;
  outline: 0;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #acacfccc;
  box-shadow: 0 0 0 2px #bdbdff96;
  border-inline-end-width: 1px;
  z-index: 1;
}
:where(.css-dev-only-do-not-override-w8mnev).ant-input-textarea-affix-wrapper.ant-input-affix-wrapper >textarea.ant-input:focus {
  border-color: #acacfccc;
  box-shadow: 0 0 0 2px #bdbdff96;
  border-inline-end-width: 1px;
  z-index: 1;
}
.ant-btn-primary {
  color: #fff;
  background-color: var(--cor-principal);
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
:where(.css-dev-only-do-not-override-w8mnev).ant-modal-root .ant-modal-wrap {
  background: #111130cc;
  backdrop-filter: blur(4px);
}
.ant-modal-footer {
  display: none;
}
ul {
  margin: 10px 0px 0px 0px;
  justify-content: left;
  text-align: left!important;
}
li {
  margin: 5px;
  list-style-type: none;
  padding: 5px;
  line-height: 18px;
  font-weight: 600;
}
ul span {
  color: var(--cor-principal);
  margin: 10px 10px 0px 0px;
}
.value {
  margin: 20px auto;
  font-size: 31px;
  letter-spacing: 0.05em;
  font-family: Wix Madefor Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.923);
  text-align: center;
}
.value p {
  color: #FFF;
font-family: Wix Madefor Display;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.value s {
  text-decoration-line: strikethrough;
}
.value span {
  font-size: 15px;
  font-weight: 600;
  margin-right: 2px;
  font-family: Wix Madefor Display;
}
.mediumbutton {
  background: #1EB689;
}
.colorbutton {
  background: #9D22F0;
}
.two button {
  padding: 15px;
  outline: none;
  color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.334));
  display: flex;
  justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: 0px auto 10px auto;
}
.popular {
  width: 200px;
  height: auto;
  padding: 15px;
  border-radius: 20px;
background: #C3FCFF;
color: #000;
text-align: center;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: -60px 30px;
position: absolute;
}
.popular svg {
  width: 30px;
    position: absolute;
    margin: 25px 0px 0px -60px;
}
.card {
  width: 300px;
  background-color: #ffffff;
  color: rgb(28, 28, 28);
  padding: 15px;
  border-radius: 5px;
  height: 261px;
  text-align: left;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.169));
  margin-left: 23px;
}
.card svg {
  width: 25px;
}
.card h1 {
  font-size: 25px;
  color: #39107a;
  margin-bottom: 5px;
}
.card h1 img {
  width: 34px;
}
.mont {
  font-size: 10px;
  letter-spacing: 0;
}
.card h2 {
  font-size: 15px;
  /* color: var(--cor-01); */
  font-family: 'Wix Madefor Display', sans-serif;
  color: rgba(19, 19, 19, 0.874);
  margin: 0px 0px 10px 0px;
  padding-bottom: 10px;
}
.show {
	-webkit-animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
	        animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
}

.titlee {
  color: #232323;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Wix Madefor Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 50px 0px;
  text-align: center;
}
.visible,
.invisible {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 717px) {
  /* .Services {
    overflow: hidden;
  } */
  .main {
    width: 100%;
    margin: 0px;
  }
  .cardsales {
    margin: 10px;
  }
  .card {
    width: 130px;
  }
  .maintwo {
    display: flex;
    width: 100%;
    margin: 30px 0px 30px 15px;
    flex-direction: column;
  }
  .two {
    width: auto;
    margin-bottom: 30px;
  }
  .show {
    -webkit-animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
            animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  }
  .titlee {
    text-align: center;
    width: 90%;
    margin: 25px 20px 30px 20px;
  }
  .Services {
    height: 1726px;
  }
}